@import '../../../sass/variables';

.ErrorCoffee{
    background-color: $color-red-error;
    color: $color-grey-light-1 ;
    font-size: $default-font-size;
    display: inline-block;
    border: 2px solid $color-red-error;
    border-radius: .4rem;
}



