.Modal{
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 350px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 35vw;
    top: 10vw; 
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    margin: 1px;
}


@media(max-width: 1200px){
    .Modal{
        top: 25%;
    }
} 


@media(max-width: 840px){
    .Modal{
       // left: 28%;
        top: 25%;
    }
} 


@media(max-width: 750px){
    .Modal{
        left: 26%;
    }
} 

@media(max-width: 700px){
    .Modal{
        left: 24%;
    }
} 

@media(max-width: 650px){
    .Modal{
        left: 22%;
    }
} 

@media(max-width: 600px){
    .Modal{
        left: 20%;
    }
} 

@media(max-width: 550px){
    .Modal{
        left: 16%;
    }
} 

@media(max-width: 500px){
    .Modal{
        left: 12%;
    }
} 

@media(max-width: 450px){
    .Modal{
        left: 8%;
    }
} 

@media(max-width: 425px){
    .Modal{
        left:4%;
    }
} 

@media(max-width: 400px){
    .Modal{
        left: 2%;
    }
} 

@media(max-width: 350px){
    .Modal{
        left: 0%;
    }
} 

@media(max-width: 350px){
    .Modal{
        width: 300px;
        left: 2%;
    }
} 


