$color-bg: #242526;
$color-bg-accent: #484a4d;
$text-color-primary: #dadce1 ;
$text-color-secondary: #4d4c4c ;
$font-weight-bold-1: 700 ;
$font-weight-bold-1: 500 ;
$nav-size: 60px;
$border: 1px solid #474a4d;
$border-radius: 8px;
$speed: 500ms;


$color-brown-light: #DDA35D;
$color-brown-medium: #AA6231;
$color-brown-dark: #5C2C0C ;

$color-sand-1: #e7c1b3;
$color-sand-2: #c98d57;
$color-sand-3:#decbbc;

$color-red-error: #830a0c;

$color-green-medium: #374f2f; 

$color-green-very-light: #E3DECA;
$color-green-dark: #3C3A1E;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


//FONT
$default-font-size: 1.6rem ;
$default-font-size-2: 1.4rem ;
$default-font-size-3: 1.2rem ;
$default-font-size-4: 1.1rem ;

$font-size-big: 2rem ;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
