@import "../../../sass/variables";

.TodaySpecial {
  display: flex;
  justify-content: center;

  &__item {
    vertical-align: top;
    height: 42rem;
    margin: 2rem;
    width: 25%;
    font-size: $default-font-size-2;
    color: $color-white;

    &__logo {
      height: 40rem;
      width: 25rem;
      overflow: hidden;
      border-radius: 4rem;
      margin: 0 auto;
    }

    &__logo img {
      height: 100%;
      filter: blur(0.4rem);
      transition: 0.5s;

      &:hover {
        filter: blur(0);
      }
    }

    &-plus {
      margin-top: 20rem;
      color: $color-brown-light;
      font-size: 5rem;
      font-weight: 700;
    }

    &-title {
      position: relative;
      top: -30rem;
      display: block;
      text-align: center;
      z-index: 1;
    }

    &-free {
      background-color: $color-brown-light;
      display: inline-block;
      transform: rotate(30deg);
      position: relative;
      top: -33.5rem;
      left: 14rem;
      border-radius: 0.4rem;
      padding: 0 0.4rem 0 0.4rem;
      z-index: 1;
      transition: transform 0.5s;
    }

    &:hover &-title {
      visibility: hidden;
    }

    &:hover &-free {
      transform: rotate(0deg);
      position: absolute;
      top: 10rem;
    }
  }
}

@media (max-width: 960px) {
  .TodaySpecial {
    width: 100%;
    justify-content: space-around;
    &__item {
      height: 35rem;
      width: 20rem;
      margin: 0;

      &-plus {
        margin-top: 14rem;
      }

      &__logo {
        height: 35rem;
        width: 20rem;
        border-radius: 2rem;
      }
    }
  }
}

@media (max-width: 750px) {
  .TodaySpecial {
    flex-direction: column;

    &__item {
      width: 100%;
      margin: 0 auto;

      &-plus {
        margin: 0 auto;
      }
    }
  }
}
