@import "../../../sass/typography";
@import "../../../sass/variables";



.shoppingItems{
     margin-top: 5rem;
    

    &__allItems{
        background-image: linear-gradient(to right bottom, 
        rgba($color-brown-medium, 0.05), 
        rgba($color-brown-dark, 0.1));
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
        justify-content: center;
        border-radius: 4rem;
    
    }
}

