@import "../../../sass/typography";
@import "../../../sass/variables";



.shoppingItems{
     margin-top: 50px;

    &__allItems{
        background-color:  $color-sand-3;
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        width: 100%;
        justify-content: center;
    
    }
}

