.shoppingItems{
    margin-top: 50px;
    margin-left: 16%;
    margin-right: 16%;
}


@media(max-width: 1200px){
    .shoppingItems{
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media(max-width: 1035px){
    .shoppingItems{
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media(max-width: 935px){
    .shoppingItems{
        margin-left: 1%;
        margin-right: 1%;
    }
}

/* @media(max-width: 840px){
    .shoppingItems{
        text-align:center;
    }
} */