.navBar{
    position: fixed;
    width: 100%;
    height: 5rem;
    
    top: 0px;
    background: #fff;
    box-sizing: border-box;
    z-index: 1;
}


.iconButton{
    transform: scale(1.2);
}

.Buttons{
    position: relative;
    left: 85%;
    top: 25%;
}

.Cart{
    color: #3C3A1E;
    transform: scale(1.5);
    
}

.ViewList{
    color: #3C3A1E;
    transform: scale(1.5);
}


@media(max-width: 960px){
    .Buttons{
        left: 78%;
    }
}



@media(max-width: 420px){
    .Buttons{
        left: 72%;
    }
}

