.navBar{
    position: fixed;
    width: 100%;
    height: 50px;
    margin-right: 0px;
    top: 0px;
  
    background: #fff;
    box-sizing: border-box;

}

.CartButton{
    display: inline;
    margin-left: 70%;
    position: fixed;
    vertical-align: auto;
    
}

.Cart{
    color: #374f2f;
    font-size: 70%;
    height: 3rem;
    width: 3rem;
    size: medium;
    
}

@media(max-width: 960px){
    .CartButton{
        display: inline;
        margin-left: 80%;
    }
}

@media(max-width: 600px){
    .CartButton{
        display: inline;
        margin-left: 75%;
    }
}

@media(max-width: 400px){
    .CartButton{
        display: inline;
        margin-left: 67%;
    }
}


@media(max-width: 320px){
    .CartButton{
        display: inline;
        margin-left: 60%;
    }
}