.order{
    text-align: center;
    padding-top: 10px;
}

.orderItem{    
    display:inline-block;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #FCA843;
    border-radius: 4px;
}

.totalPrice{
    display: inline-block;
    padding: 5px;
    border: 1px solid #FCA843;
    border-radius: 4px;
}