@import "../../../sass/variables";

.allOrders {
  font-size: $default-font-size;
  font-weight: 500;
  width: 80%;
  margin: 0 auto;
  border: 0.2rem solid $color-sand-1;
  border-radius: 0.4rem;

  &__individualOrder {
    display: flex;
    color: $color-brown-dark;

    &-items {
      align-content: center;
      width: 80%;
      border: 0.2rem solid $color-sand-1;
    }

    &-price {
      width: 20%;
      border: 0.2rem solid $color-sand-1;
      text-align: center;
    }
  }
}

@media (max-width: 960px) {
  .allOrders {
    font-size: $default-font-size-3;
  }
}

@media (max-width: 420px) {
  .allOrders {
    text-align: center;
    vertical-align: auto;
  }
}
