@import "../../scss/variables";

.Country_data_table {
  font-size: $default-font-size-2;
  color: $color-grey-dark-3;
  margin: 1rem;
  color: $text-color-secondary;
  display: inline-block;

  &-row {
    display: flex;
  }

  &-row:first-of-type {
    display: inline-flex;
    border-top: 0.1rem solid $text-color-primary;
    padding: 0rem;
  }

  &-row:last-of-type {
    display: inline-flex;
    border-bottom: 0.2rem solid $text-color-primary;
    padding: 0rem;
  }

  &-cell {
    border-top: 0.1rem solid $text-color-primary;
    border-bottom: 0rem solid $text-color-primary;
    width: 12rem;
    padding: 0.4rem;
  }

  &-propertyCell {
    border-right: 0rem solid $text-color-primary;
    border-left: 0.2rem solid $text-color-primary;
    font-weight: 700;
  }

  &-valueCell {
    border-right: 0.2rem solid $text-color-primary;
    border-left: 0.1rem solid $text-color-primary;
    text-align: center;
  }
}

@media (max-width: 620px) {
  .Country_data_table {
    display: block;
  }
}
