/* .Box{
    display: inline-block;
    background-color: #D09683 ;
    border-radius: 10%;
    width: 300px ;   
    position: absolute;
} */

.InputField{
    background-color: #e7c1b3; 
    border: 0.35rem solid #e7c1b3;
    margin-top: 0.65rem;
    margin-left: 1rem;
    border-radius: 8px;
    outline-color: rgb(177, 124, 81); 
    /* box-shadow: 1rem rgb(177, 124, 81) ; */
}

.InputFieldDisabled{
    background-color:#eeebe8; 
    border: 0.35rem solid #eeebe8;
    margin-top: 0.65rem;
    margin-left: 1rem;
    border-radius: 8px;
    text-decoration: line-through;

}