@import "../../scss/variables";

.dropdownCountries {
  position: relative;
  display: inline-block;
  background-color: $color-white;
  cursor: pointer;
  width: 20rem;

  &-content {
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow-y: scroll;
    height: 30rem;
  }

  &-select {
    border: 0.1rem solid $text-color-primary;
    border-radius: 0.2rem;
    padding: 0rem 2rem;
    text-align: center;
    transition: 0.3s;
  }

  &-select:hover {
    background-color: $text-color-primary;
  }
}
