@import "../../../sass/variables";
@import "../../../sass/typography";

$color-primary : #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

//FONT
$default-font-size: 1.6rem ;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

.header {
    height: 95vh;
    color: $color-white;
    background-image: linear-gradient(to right bottom, 
    rgba($color-brown-medium, 0.2), 
    rgba($color-brown-dark, 0.6)), 
    url(../../assets/img/coffee-beans-header.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
  //  clip-path: polygon(0 0, 100% 0, 100% 500px, 0% 100%); 
  
    &__logo-box {
      position: absolute;
      top: 4rem;
      left: 40px; 
    }

    &__logo {
      height: 3.5rem; 
    }
    
    &__text-box {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center; 
    }

  }

  

  
