@import "../../../sass/variables";
@import "../../../sass/typography";


.header {
    height: 90vh;
    color: $color-white;
    border: 1px orangered;
    background-image: linear-gradient(to right bottom, 
    rgba($color-brown-medium, 0.2), 
    rgba($color-brown-dark, 0.6)), 
    url(../../assets/img/coffee-beans-header.jpg);
    background-size: cover;
    position: relative;
 
  
    &__logo-box {
      position: absolute;
      top: 4rem;
      left: 4rem; 
    }

    &__logo {
      height: 5rem; 
    }
    
    &__text-box {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center; 
    }

  }

  

  
