.Buttons{
    text-align: center;
}

.Button{
    border-radius: 12px;
    border: 1px solid white;
    padding: 10px ;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    background-color: #374f2f;
    color: #c98d57;
    width: 16rem;
}

.Button:hover{
opacity: 1;
cursor: pointer;
}

.DisplayNoButton{
    display: none;
}

.TotalPrice{
    font-size: 18px;
    font-weight: bold;
    color: #6F0527;
    margin: 8px 8px 8px 40px;
    
}

.ListItemsInCart{
    font-size: 16px;
    font-weight: bold;
    color: #056F46;
    margin: 8px 8px 8px 40px;
}

.ItemsAmount{
    color:  #6F0527;
}

@media(max-width: 1200px){

}

@media(max-width: 1035px){


}

@media(max-width: 935px){


}