@import "../../../sass/variables";

.shoppingSummary {
  font-size: 16px;
  font-weight: bold;
  color: $color-brown-dark;
  margin: 0.8rem 0.8rem 0.8rem 4rem;

  &-items {
    color: $color-green-medium;
  }
}

.shoppingSummaryPrice {
  font-size: 18px;
  font-weight: bold;
  color: $color-green-medium;
  margin: 0.8rem 0.8rem 0.8rem 4rem;

  &__buttons {
    text-align: center;

    &-button {
      border-radius: 12px;
      border: 1px solid white;
      padding: 10px;
      text-align: center;
      font-size: 16px;
      margin: 4px 2px;
      opacity: 0.6;
      transition: 0.3s;
      background-color: $color-brown-dark;
      color: $color-brown-light;
      width: 16rem;
    }

    &-button:hover {
      opacity: 1;
      cursor: pointer;
    }

    &-noButton {
      display: none;
    }
  }
}
